<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <style>
      form {
      padding: 100px;
      }

      body {
      background-color: #e9ed9a ;
      }
    </style>
  </head>
  <body>
<img src="src/logo-svg.jpg">
<form  class="form" action="#" method="post">
  <div class="form-group">
    <label for="nome">Nome</label>
    <input type="text" class="form-control" id="nome" name="nome" aria-describedby="nome" placeholder="Seu nome">
  </div>
  <div class="form-group">
    <label for="sobrenome">Sobrenome</label>
    <input type="text" class="form-control" id="sobrenome" name="sobrenome" aria-describedby="sobrenome" placeholder="Seu sobrenome">
  </div>

  <div class="form-group">
    <label for="cargo">Cargo</label>
    <input type="text" class="form-control" id="cargo" name = "cargo" aria-describedby="cargo" placeholder="Seu cargo">
  </div>

  <div class="form-group">
    <label for="Telefone-Pessoal">Telefone Pessoal</label>
    <input type="number" class="form-control" id="telefone-pessoal" name="telefone-pessoal" placeholder="Telefone Pessoal">
  </div>
  <div class="form-group">
    <label for="email">E-mail</label>
    <input type="text" class="form-control" id="email" aria-describedby="email" name="email" placeholder="Seu e-mail">
  </div>

  <div class="form-group">
    <label for="Blog-site">Blog ou Site</label>
    <input type="text" class="form-control" id="blog-site" name="blog-site" placeholder="Blog/Site">
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>


<!-- The core Firebase JS SDK is always required and must be listed first -->
<script src="/__/firebase/7.6.0/firebase-app.js"></script>

<!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#available-libraries -->
<script src="/__/firebase/7.6.0/firebase-analytics.js"></script>

<!-- Initialize Firebase -->
<script src="/__/firebase/init.js"></script>
  </body>
</html>